/* Reset and base styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  /* Prevent zooming on input focus */
  -webkit-text-size-adjust: 100%; /* For WebKit browsers */
}

body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding: 0;
  margin: 0;
  min-height: 100vh; /* Ensures the body takes at least the full viewport height */
  display: flex;
  flex-direction: column;
}

/* Header styling */
header {
  background-color: #13f5c0;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

header h1 {
  color: #1c1cf2;
  font-family: "McLaren", cursive;
  font-weight: 200;
  margin: 0;
  font-size: 24px; /* Default font size for larger screens */
}

/* Footer styling */
footer {
  position: relative; /* Change from absolute to relative */
  text-align: center;
  width: 100%;
  height: 2.5rem;
  margin-top: auto; /* Pushes the footer to the bottom */
}

footer p {
  color: #ccc;
}

/* Note styling */
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #f8f8f8;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f21c43;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

/* Form styling */
form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #1c1cf2;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

/* Responsive styling */
@media (max-width: 767px) {
  header {
    padding: 12px 16px;
  }

  header h1 {
    font-size: 18px;
  }

  .note {
    width: calc(100% - 32px);
    margin: 8px;
  }

  form.create-note {
    width: calc(100% - 32px);
    margin: 20px auto;
  }

  form.create-note button {
    width: 32px;
    height: 32px;
    right: 12px;
    bottom: -12px;
  }
  
  /* Adjust input sizes to prevent zooming */
  form.create-note input,
  form.create-note textarea {
    font-size: 1em; /* Adjust font size to prevent zooming */
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 14px 24px;
  }

  header h1 {
    font-size: 20px;
  }

  .note {
    width: calc(50% - 32px);
    margin: 16px;
  }

  form.create-note {
    width: 80%;
    margin: 30px auto;
  }

  form.create-note button {
    width: 34px;
    height: 34px;
    right: 16px;
    bottom: -16px;
  }
}

@media (min-width: 1025px) {
  header {
    padding: 16px 32px;
  }

  header h1 {
    font-size: 24px;
  }

  .note {
    width: 240px;
    margin: 16px;
  }

  form.create-note {
    width: 480px;
    margin: 30px auto 20px auto;
  }

  form.create-note button {
    width: 36px;
    height: 36px;
    right: 18px;
    bottom: -18px;
  }
}
